{
    "env": {
        "development": {
            "presets": [["env", {
                "targets.uglify": true,
                "modules": "umd"
            }]]
        },
        "test": {
            "presets": ["env"],
            "plugins": [
                "rewire"
            ]
        }
    }
}
