/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

body.container {
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.github {
    display: block;
    margin-bottom: 2.5rem;
}

.source-code {
    margin-bottom: 1.5rem;
}

.source-code[data-initialize] .show-button {
    display: none;
}

.hidden {
    display: none;
}

form {
    margin-bottom: 1rem;
}

.error {
    background: lightcoral;
    border: 1px solid red;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    padding: 1rem;
}

.thumbnail {
    margin-top: 1.5rem;
}

input[type="file"] {
    margin-top: 1rem;
}

td {
    vertical-align: top;
}

@media screen and (min-width: 1024px) {
    .github {
        background: black;
        border-bottom-width: 1px;
        border-color: #fff;
        border-left-width: 0;
        border-right-width: 0;
        border-style: solid;
        border-top-width: 1px;
        box-shadow: 0 0 10px 3px #000;
        color: #fff;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: .04em;
        line-height: 1.5;
        padding: 6px 60px;
        position: fixed;
        right: 60px;
        text-transform: none;
        top: 60px;
        transform: translateX(50%) translateY(-50%) rotateZ(45deg);
    }
}
